body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11pt;
    background-color: #c0c0c0;
}

.table {
    margin-bottom: 0;
}

.table th, .table td {
    vertical-align: middle !important;
}